@media (min-width:992px) {
    .container{
        margin: 0px 80px;
    }
    /* ------------------header---------------------- */

    header .header-nav .nav-bar ul{
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    header .header-nav .logo h2{
        font-size: 35px;
        color: white;
    }

    header .header-nav .theme .menu button{
        height: 40px;
        width: 40px;
    } 
    header .header-nav .theme .menu button{
        display: none;
    }
    /* -----------------------------------homepage------------------------ */
     .homepage .home-text h1{
        font-size: 54px;
        padding-top:210px;
        width: 75%;
    }
    .homepage .home-text p{
        padding: 25px 0px;
        width: 50%;
    }

}